.hero-page {
  height: 60vh !important;
}

.filer-section {
  position: relative;
}
.filter-data {
  position: absolute;
  /* right: 0.8rem; */
  top: 0;
  width: 200px;
}

.width {
  width: 200px;
}
